# Site settings
title: Wesley Heung
email: wesley@heungs.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "/liquid-functions" # the subpath of your site, e.g. /blog/
url: "http://wesley.heungs.com" # the base hostname & protocol for your site
github_username: Shadowen

# GitHub defaults
highlighter: pygments

# Build settings
markdown: kramdown
input: GFM

# The pseudoArray seperator for LQF
lqf:
  psa-seperator: "&"

collections:
  docs:
    output: true
    permalink: /docs/:path/

defaults:
  -
    scope:
      path: ""
      type: docs
    values:
      layout: doc

# GitHub overrides
safe: true
lsi: false